body {width:800px; text-align:center; margin:auto; background-color:#000000; color:#FFFFFF; font-family:arial;}
#drawingCanvas {display:inline-block; vertical-align:top;  margin:0; padding:0;}
#controls {display:inline-block; vertical-align:top; width:120px; height:240px; margin:0; padding:0;}
button {font-size:160%; margin:20px;}
#status {textalign:center; margin:10px; font-family: arial; font-size:200%;}
#spectrumCanvas {margin:auto;}
#footer {font-size:60%; text-align:center;}
