body {
    width:800px;
    text-align:center;
    margin:auto;
    background-color:#3F3F3F;
    color:#FFFFFF;
    font-family:arial;
}

#drawingCanvas {
    display:block;
    background-color:#FFFFFF;
    width:320px;
    height:240px;
    margin:auto;
}

#spectrumCanvas {
    display:block;
    background-color:#FFFFFF;
    width:320px;
    height:240px;
    margin:auto;
}

button
{
    font-size:160%;
    font-family:arial;
    text-align:center;
    margin:20px;
}

.flex-container {
    display:flex;
    justify-content: center;
    align-items:center;
}

#status {
    font-size:200%;
    font-family:arial;
    text-align:center;
    margin:10px;
}

#footer {
    font-size:60%;
    font-family:arial;
    text-align:center;
}

